.rottitime-address {
  --color1: #000;
  --color2: #888;

  position: relative;
  display: inline-block;
}

.rottitime-address label {
  display: block;
}

.rottitime-address ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid var(--color1);
  padding: 5px;
  position: absolute;
  overflow-y: scroll;
  overflow-x: overlay;
  max-height: 230px;
  width: 100%;
}

.rottitime-address li {
  padding: 10px 0;
  color: var(--color2);
  cursor: pointer;
  transition: all 0.5s;
}

.rottitime-address li:hover {
  color: var(--color1);
}
