.rottitime-address.enable-styles {
  --color1: #000;
  --color2: #888;
  position: relative;
  display: inline-block;
}

/**  design v5 **/

.rottitime-address.enable-styles .input-wrapper {
  position: relative;
}

.rottitime-address.enable-styles .input-wrapper input {
  padding: 10px 14px;
  font-size: 1.1em;
}

.rottitime-address.enable-styles label {
  display: block;
  margin-bottom: 5px;
}

.rottitime-address.enable-styles ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid var(--color1);
  padding: 5px;
  position: absolute;
  overflow-y: scroll;
  overflow-x: overlay;
  max-height: 230px;
  width: 100%;
  background-color: #fff;
}

.rottitime-address.enable-styles li {
  padding: 10px 0;
  color: var(--color2);
  cursor: pointer;
  transition: all 0.5s;
  font-size: 0.9em;
  text-align: left;
}

.rottitime-address.enable-styles li:hover {
  color: var(--color1);
}

.rottitime-address svg {
  animation: rottitime-spinner 1s linear infinite;
  opacity: 0.5;
  position: absolute;
  right: 5px;
  top: 0;
  height: 100%;
}

@keyframes rottitime-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
